body {
    font-family: Arial, sans-serif;
    background-color: rgb(179, 48, 161);
    margin: 40px;
}

nav {
    margin-bottom: 20px
}
nav a {
    margin-right: 15px;
    text-decoration: none;
}
footer {
    margin-top: 30px;
}
