{{define "content"}}

<h1>Change Password</h1>

<form method="POST" action="/change-password">

    <label>Current Password:</label>
    <input type="password" name="current_password" required>

    <br><br>

    <label>New Password:</label>
    <input type="password" name="new_password" required>

    <br><br>

    <label>Confirm New Password:</label>
    <input type="password" name="confirm_password" required>

    <br><br>

    <button type="submit">
        Change Password
    </button>

</form>

{{end}}